<div class="sort-nav">
        <span><%= link_to 'Sort by Name', pokemons_path(:sort_param => "name"), class: "btn btn-ghost" %></span>
        <span><%= link_to 'Sort by Number', pokemons_path(:sort_param => "number"), class: "btn btn-ghost" %></span>
        <span><%= link_to 'Sort by Attack', pokemons_path(:sort_param => "attack"), class: "btn btn-ghost" %></span>
        <span><%= link_to 'Sort by Defense', pokemons_path(:sort_param => "defense"), class: "btn btn-ghost" %></span>
        <span><%= link_to 'Sort by Speed', pokemons_path(:sort_param => "speed"), class: "btn btn-ghost" %></span>
        <span><%= link_to 'Sort by Total', pokemons_path(:sort_param => "total"), class: "btn btn-ghost" %></span>
        <span><%= link_to 'Sort by HP', pokemons_path(:sort_param => "hp"), class: "btn btn-ghost" %></span>
        <span><%= link_to 'Sort by Type', pokemons_path(:sort_param => "type_1"), class: "btn btn-ghost" %></span>
        <span><%= link_to 'Sort by Legendary', pokemons_path(:sort_param => "legendary"), class: "btn btn-ghost" %></span>
</div>

<% @pokemon.each do |pokemon|%>
    <div class="card-product">
        <div class="card-product-infos">
            <h2><%= link_to "#{pokemon.name}", pokemon_path(pokemon) %></h2>
            <p>
                <span><%= pokemon.type_1 %> | </span>
                <span>
                    <% if pokemon.legendary == "True" %>
                        Legendary
                    <% else %>
                        Basic
                    <% end %>
                </span>
            </p>
        </div>
    </div>
<% end %>

<%= will_paginate @pokemon %>